.overlay {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.6);
  position: fixed;
  left: 0;
  top: 0;
  transition: visibility .5s,opacity .5s linear;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

.overlay_opened {
  visibility: visible;
  opacity: 1;
}
